<center>
<h1>Paginas#home</h1>
<p>Find me in app/views/paginas/home.html.erb</p>









__
_   /  |   De: Josue Urban
| \  \/_/
\_\| / __
\/_/__\           .--='/~\
____,__/__,_____,______)/   /{~}}}
-,-----,--\--,-----,---,\'-' {{~}}
__/\_            '--=.\}/
/_/ |\\
  \/
</center>
