

<nav aria-label="..." class="center">
  <ul class="pagination">
    <li class="active"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
    <li class="active"><%= link_to '1', "#" %> </li>
    <li class="active"><%= link_to '2', "#" %>  </a></li>

  </ul>
</nav>



<footer class="bs-docs-footer">
<div class="container">


  <ul class="bs-docs-footer-links">
    <li> <a href="https://www.instagram.com/josue_d_urban/">instagram</a></li>
    <li><a href="https://www.facebook.com/josue.u.crew">facebook</a></li>
    <li><a href="https://www.tumblr.com/blog/music-smiles-you">tumblr</a></li>
</ul>

<p> By Josue Urban  </p>

</div>
</footer>
